table {
  width: 450px;
    height: 150px;
  border-collapse: collapse;
  background: #dddeed;
  text-align: center;
}
th {border: 1px solid white;}
td {border: 1px solid white;}
.asd {color: white;
  background: #bdbfde;
}
tr:hover td{
    background: #f3bd48; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
   }
   tr:hover th{
    background: #f3bd48; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
   }