* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.strok {
      border-left: 3px solid #FD9D00;
    border-right: 3px solid #FD9D00;
    border-bottom: 3px solid #FD9D00;
}
.menu {
  
    height: 70px;
    display: flex;
    align-items: center;
    background: #FD9D00;
}

.knop {
    padding: 0 25px;
    color: white;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.knopgl {
    background: white;
    color: #FD9D00;
    height: 70px;
    padding: 0 25px;
     display: flex;
    align-items: center;
    justify-content: center;
}
.tekst {
  font-size: 17px;
    padding: 20px;
    color: #DAB082;
}
p {
  text-indent: 40px;
}
.tekst > p > span {
    text-decoration: underline;
    font-weight: bold;
}

.tekst > h1, h2 {
    color: #98601A;
    text-align: center;
    margin: 10px 0;
}
footer {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

footer > a {
    font-weight: bold;
    color: #98601A;
    text-decoration: none;
}

.asd + .asd {
    margin-left: 25px;
}